@using Alerts
<Alerts.Alert Type="@AlertType" class="mt-4">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please take our
        <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2137813">brief survey</a>
    </span>
    and tell us what you think.
    
    <Buttons.Primary  @onclick="ToggleAlertStyle">Change alert style</Buttons.Primary>
</Alerts.Alert>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }

    AlertType AlertType = AlertType.Info;
    
    private void ToggleAlertStyle()
    {
        AlertType = AlertType == AlertType.Info ? AlertType.Secondary : AlertType.Info;
    }

}