@inherits LayoutComponentBase

<Layout.Page>
    <Layout.Sidebar>
        <NavMenu />
    </Layout.Sidebar>

    <Layout.Page>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <Layout.Content>
            @Body
        </Layout.Content>
    </Layout.Page>
</Layout.Page>
